@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1rem;
    border-bottom: 2px solid black;
}
.opciones {
    display: flex;
    justify-content: space-between;
}

.navbar button {
    background-color: white;
    text-decoration: none;
    border: #ffffff;
    padding-inline: 2rem;
}
.navbar img {
    padding-inline: 1rem;
}

header {
    font-family: "Montserrat", regular;
    font-size: 16px;
}

h1 {
    font-size: 32px;
    font-family: "Montserrat", bold;
    display: flex;
    padding-left: 5rem;
}
.web {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 8rem;
    padding-bottom: 50px;
    justify-content: space-between;
    color: #212429;
    font-size: 16px;
    font-family: "Montserrat"
}

.web img {
    border-radius: 25px;
}
.item span {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 65px;
}
.informacion {
    margin-left: 20px;
}
.footer {
    font-family: "Montserrat", serif;
    font-size: 16px;
}

.foot p {
    color: white;
    background-color: black;
    font-family: "Montserrat", serif;
    font-size: 16px;
}
.foot {
    display: flex;
    justify-content: space-between;
    background-color: #212429;
    padding: 1rem;
}

.foot img {
    background-color: white;
    text-decoration: none;
    border: #ffffff;
    padding-inline: 1rem;
    border-radius: 50%;
}
@media (max-width: 920px) {
    .navbar {
        width: 250%;
    }
    .web {
    width: 100%;
    }
    .foot {
        width: 250%;
    }
}

